body, html { width: 100%; height: 100%; font-family: 'Open Sans', sans-serif; overflow: hidden; position: fixed;}

input {
  font-size: 1em;
  margin: .5%;
}

#root {
  text-align:center;
  width:100%;
  height:100%;
  font-size: 3em;
}

@media all and (max-width : 760px) {
/* Styles */
  #root {
    font-size: 1.5em;
  }
  .Pushboard {
    font-size: 1.5em;
  }
}

#root:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.App {
  cursor: pointer;
  padding: 5%;
}

.AppContainer {
	text-align: center;
  width: 90%;
  display:inline-block;
}

.PushButton {
  display: inline-block;
  border: 1px solid #DADFE2;
  padding: 1%;
  margin: 1%;
  cursor: pointer;
  width: 2em;
  user-select: none;
  font-size: 2em;
}

.StatusBar {
  font-size: .75em;
}

.AppButton {
	display: inline-block;
	font-weight: bold;
  margin: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: .5%;
  border-radius: .1em;
  cursor: pointer;
  background-color:#FD7622;
  vertical-align:middle;
}

.FieldLabel {
  display: inline-block;
  padding-right: 1%;
}

.boardNotSelecting {
	background-color: white;
  border: 1px solid #DADFE2;
}

.boardSelecting {
	border: 1px solid blue;
}
