.App {
	display: inline-block;
  text-align: center;
  cursor: pointer;
}

.AppContainer {
	text-align: center;
  border: 1px solid black;
  width: 50%;
}

.PushButton {
  display: inline-block;
  border: 1px solid black;
  padding: 1%;
  margin: 1%;
  cursor: pointer;
  user-select: none;
}

.StatusBar {
  border-bottom: 1px solid black;
}

.ActionBar

.actionButton {
	display: inline-block;
	font-weight: bold;
	border: 1px solid black;
  padding: .2%;
  margin: .2%;
  cursor: pointer;
}

.boardNotSelecting {
	background-color: white;
}

.boardSelecting {
	background-color: blue;
}
